name: Build Full Static LLVM (MSVC)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 600

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Clone LLVM
      run: |
        git clone https://github.com/llvm/llvm-project.git llvm-src
        cd llvm-src
        git checkout llvmorg-21.1.8

    - name: Configure CMake
      run: |
        $env:PATH = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.40.33807\bin\Hostx64\x64;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE;C:\Program Files (x86)\Windows Kits\10\bin\x64;$env:PATH"
        $env:CMAKE_PREFIX_PATH = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.40.33807"
        mkdir build
        cd build
        cmake ..\llvm-src\llvm -G "Ninja" `
          -DCMAKE_BUILD_TYPE=Release `
          -DCMAKE_INSTALL_PREFIX=../install `
          -DLLVM_BUILD_STATIC=ON `
          -DBUILD_SHARED_LIBS=OFF `
          -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded `
          -DCMAKE_C_COMPILER=cl `
          -DCMAKE_CXX_COMPILER=cl `
          -DLLVM_ENABLE_PROJECTS="clang;lld" `
          -DCLANG_BUILD_STATIC_LIBS=ON `
          -DLLVM_STATIC_LINK_CLANG_DL_LIBS=ON `
          -DLLVM_INCLUDE_BENCHMARKS=OFF `
          -DLLVM_INCLUDE_TESTS=OFF `
          -DLLVM_ENABLE_OCAMLDOC=OFF `
          -DLLVM_ENABLE_BINDINGS=OFF

    - name: Build LLVM
      run: |
        $env:PATH = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC\14.40.33807\bin\Hostx64\x64;C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE;C:\Program Files (x86)\Windows Kits\10\bin\x64;$env:PATH"
        cd build
        cmake --build . --config Release --target install -j 2
        cd ../install
        7z a llvm-full-static.zip *

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: llvm-full-static-windows
        path: llvm-full-static.zip
